<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/jquery.js"></script>
    <title>Application-gestion-mission</title>
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-6 formulaire" >
                <h1>login</h1>
                <form action="./" method="post" autocomplete="off" class="contact-form">
                    <div class="">
                        <label for="login" class="form-label">Login</label>
                        <div class="">
                        <input type="text" class="form-control" id="login">
                        </div>
                    </div><br>
                    <div class="">
                        <label for="password" class="form-label">Password</label>
                        <div class="">
                        <input type="password" class="form-control" id="password">
                        </div>
                    </div><br>
                    <span id="message"></span>
                    <button class="btn btn-primary" type="submit" id="envoyer">Login</button>
                </form>
            </div>

            <div class="col-5">
                <img src="./src/login.jpg" alt="image de login" width="auto" height="auto">
            </div>

        </div>
      </div>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/popper.js"></script>
    <script src="./js/bootstrap.bundle.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>